GAME_LOG_SEARCH_HOST=
GAME_LOG_SEARCH_PORT=
GAME_LOG_SEARCH_DATABASE_URL=
GAME_LOG_SEARCH_POSTGRES_SCHEMA=
GAME_LOG_SEARCH_POSTGRES_TABLE=
GAME_LOG_SEARCH_SOURCE_DIR=
GAME_LOG_SEARCH_INDEX_MANIFEST_PATH=
GAME_LOG_SEARCH_QUERY_MANIFEST_PATH=
GAME_LOG_SEARCH_EMBEDDING_MODEL=
GAME_LOG_SEARCH_SYNTHESIS_API_STYLE=
GAME_LOG_SEARCH_SYNTHESIS_BASE_URL=
GAME_LOG_SEARCH_SYNTHESIS_MODEL=
GAME_LOG_SEARCH_SYNTHESIS_MODEL_QUANTIZATION=
GAME_LOG_SEARCH_SYNTHESIS_API_KEY=
GAME_LOG_SEARCH_BUILD_ID=
GAME_LOG_SEARCH_FIXTURE_MODE=
GAME_LOG_SEARCH_FAULT_MODE=
GAME_LOG_SEARCH_POSTGRES_USER=
GAME_LOG_SEARCH_POSTGRES_DB=
GAME_LOG_SEARCH_POSTGRES_PASSWORD=
GAME_LOG_SEARCH_BIND_ADDRESS=
GAME_LOG_SEARCH_BIND_PORT=
